<footer class="bg-dark text-light py-4">
    <div class="container text-center text-md-start">
        <div class="row mb-4">
            <div class="col-12 col-md-6 col-lg-5 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                    <img src="./src/img/logo2.png" alt="Logo de la marca Gato Feliz" width="64px">
                    <h2 class="text-start m-0 mt-1 ms-2">Gato Feliz</h2>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 mb-5 mb-lg-0">
                <h3>MENÚ</h3>
                <div class="text-secundary">
                    <a href="./" class="text-decoration-underline link-secondary d-block">INICIO</a>
                    <a href="./productos" class="text-decoration-underline link-secondary d-block">PRODUCTOS</a>
                    <a href="./galeria" class="text-decoration-underline link-secondary d-block">GALERIA</a>
                    <a href="./contacto" class="text-decoration-underline link-secondary d-block">CONTACTO</a>
                    <a href="./quienes-somos" class="text-decoration-underline link-secondary d-block">QUIENES SOMOS</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 mb-5 mb-lg-0">
                <h3><a class="link-light fs-4" href="/productos">PRODUCTOS</a></h3>
                <div class="text-secundary mt-2">
                    <a href="./productos#duenyos" class="text-decoration-underline link-secondary d-block">PARA DUEÑOS</a>
                    <a href="./productos#juguetes" class="text-decoration-underline link-secondary d-block">JUGUETES</a>
                    <a href="./productos#arenas" class="text-decoration-underline link-secondary d-block">ARENAS</a>
                    <a href="./productos#rascadores" class="text-decoration-underline link-secondary d-block">RASCADORES</a>
                    <a href="./productos#camas" class="text-decoration-underline link-secondary d-block">CAMAS</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">

                <div class=" mb-5 mb-md-0">
                    <h3><a class="link-light fs-4" href="/contacto">CONTACTO</a></h3>
                    <div class="pt-1 text-muted">
                        <div class="my-2">
                            <i class="bi bi-telephone-fill me-2"></i><span>+34 685 80 57 42</span>
                        </div>
                        <div class="my-2">
                            <i class="bi bi-envelope-fill me-2"></i> <span>pycolmenero@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-12 col-md-6">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <i class="bi bi-bootstrap-fill"></i>
                </a>
                <span class="text-muted">© Copyright 2021-2022 . GatoFeliz, Inc </span>
            </div>
            <div class="col-12 col-md-6">
                <div class=" text-center text-md-end">
                    <i class="bi bi-instagram me-4 fs-4 text-muted"></i>
                    <i class="bi bi-facebook  me-4 fs-4 text-muted"></i>
                    <i class="bi bi-whatsapp  me-4 fs-4 text-muted"></i>
                    <i class="bi bi-messenger me-4 fs-4 text-muted"></i>
                </div>
            </div>
        </div>
    </div>
</footer>