<header class="navbar-expand-md navbar-dark py-2 shadow-sm w-100 fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between ">

            <div class="d-flex align-items-center flex-wrap flex-md-nowrap">
                <a href="./" class="d-flex align-items-center mb-2 mb-md-0 link-dark text-decoration-none">
                    <img src="./src/img/logo2.png" alt="Logo de la marca Gato Feliz" width="64">
                    <h2 class="m-0 text-light">Gato Feliz</h2>
                </a>
                <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-12 col-md-auto d-flex align-items-center p-0 m-0 ">
                <ul class="collapse navbar-collapse text-center p-0 m-0 breadcrumb" id="navbarSupportedContent">
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-2 my-2 d-inline-block py-2 px-3 rounded-0 " href="./">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-2 my-2 d-inline-block py-2 px-3 rounded-0 " href="./galeria">GALERIA</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-2 my-2 d-inline-block py-2 px-3 rounded-0 " href="./contacto">CONTACTO</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-2 my-2 d-inline-block py-2 px-3 rounded-0 " href="./quienes-somos">QUIENES SOMOS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-dark bg-light text-decoration-none border-bottom mx-2 my-2 d-inline-block py-2 px-3 rounded-0 " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            PRODUCTOS
                        </a>
                        <ul class="dropdown-menu rounded-0 " aria-labelledby="navbarDropdown">
                            <li class=""><a class="dropdown-item" href="./productos#duenyos">PARA DUEÑOS</a></li>
                            <li class=""><a class="dropdown-item" href="./productos#juguetes">JUGUETES</a></li>
                            <li class=""><a class="dropdown-item" href="./productos#arenas">ARENAS</a></li>
                            <li class=""><a class="dropdown-item" href="./productos#rascadores">RASCADORES</a></li>
                            <li class=""><a class="dropdown-item" href="./productos#camas">CAMAS</a></li>
                            <li>
                                <hr>
                            </li>
                            <li class=""><a class="dropdown-item" href="./productos">TODO</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>